<div class="card mb-3">
    <div class="card-body shadow">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link" routerLink="/gerenciar/perfil" routerLinkActive="active">Perfil</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/Identity/Account/Manage/Email" routerLinkActive="active">Endereço</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/gerenciar/trocar-senha" routerLinkActive="active">Mudar
            senha</a></li>
        </ul>

    </div>
</div>