<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-password-image" style="background-image: url(&quot;../../../../assets/img/MockupPlaca.jpg&quot;); background-size: cover;"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-2">Esqueceu sua senha?</h4>
                                    <p class="mb-4">Nós entendemos, coisas acontecem. Basta inserir seu endereço de e-mail abaixo e enviaremos um link para redefinir sua senha!</p>
                                </div>
                                <form class="user" [formGroup]="esqueceuSenhaForm">
                                    <div class="mb-3">
                                        <input [(ngModel)]="email" formControlName="email" class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Digite seu email..." name="email" [ngClass]="{'is-invalid': esqueceuSenhaForm.get('email').errors &&  esqueceuSenhaForm.get('email').touched }">
                                        <span class="text-danger" *ngIf="esqueceuSenhaForm.get('email').errors &&  esqueceuSenhaForm.get('email').touched">
                                            <p [innerHTML]="displayMessage.email"></p>
                                        </span>
                                    </div>
                                    <button class="btn btn-primary d-block btn-user w-100" [disabled]="!esqueceuSenhaForm.valid" style="background-color: #e67e22;
                                    border-color: #e67e22;" (click)="esqueceuSenha()" type="submit">Enviar email</button>
                                </form>
                                <hr>
                                <div class="text-center"><a class="small" href="javascript:void(0)" style="color: #e67e22;
                                    border-color: #e67e22;" routerLink="/login">Já recuperou sua senha? Login!</a></div>
                                <div class="alert alert-danger" *ngIf="errors.length > 0">
                                    <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                                    <ul>
                                        <li *ngFor="let error of errors">{{ error }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>