.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #e67e22;
}

.active {
    color: #fff;
    background-color: #e67e22;
}

a {
    color: #e67e22;
}

a:hover {
    color: #e67e22;
}