

<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-6">
<article class="gallery-wrap">
<div class="img-big-wrap">
  <div> <a href="#"><img src={{UrlImagem+produto.imagem_principal}}></a></div>
</div> <!-- slider-product.// -->
<div class="thumbs-wrap">
  <a href="#" class="item-thumb"> <img src="*"></a>
  <a href="#" class="item-thumb"> <img src="*"></a>
  <a href="#" class="item-thumb"> <img src="*"></a>
</div> <!-- slider-nav.// -->
</article> <!-- gallery-wrap .end// -->
		</aside>
		<main class="col-md-6 border-left">
<article class="content-body">

<h2 class="title">{{produto.nome}}</h2>

<div class="mb-3">
	<var class="price h4">{{ produto.valor | currency:"BRL":"symbol" }}</var>
</div> <!-- price-detail-wrap .// -->

<p>{{produto.descricao}}</p>

<hr>
	<div class="form-row">
		<div class="form-group col-md flex-grow-0">
			<label>Quantidade</label>
			<div class="input-group mb-3 input-spinner">
			  <div class="input-group-prepend">
			    <button class="btn btn-light" type="button" id="button-plus"> + </button>
			  </div>
			  <input type="text" class="form-control" value="1">
			  <div class="input-group-append">
			    <button class="btn btn-light" type="button" id="button-minus"> − </button>
			  </div>
			</div>
		</div> <!-- col.// -->
		
	</div> <!-- row.// -->

	<a href="#" class="btn  btn-primary"> Comprar </a>
	<a href="#" class="btn  btn-outline-primary"> <span class="text">Adicionar no Carrinho</span> <i class="fas fa-shopping-cart"></i>  </a>
</article> <!-- product-info-aside .// -->
		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->