.container {
    margin-top: 10px;
}


/* .produto{
    background-color: #f05f40 !important;
} */

.cor {
    color: #e67e22;
}

.clean-block {
    margin-top: 50px;
}

.produto,
.container {
    margin-top: 0px;
}

.clean-gallery {
    padding-bottom: 0px;
}