<section class="clean-block clean-hero" style="background-image:url('../../../assets/img/7.jpg');color:rgba(222,184,135, 0.85);">
    <div class="text">
        <h2>Bem vindo a Fino&Sabor!</h2>
        <p>Conforme abrimos nossas lojas, permanecemos no compromisso com a saúde e bem-estar de nossos partners e consumidores.
        </p>
        <!-- <button class="btn btn-outline-light btn-lg" type="button">Saiba mais</button> -->
    </div>
</section>

<section class="produto clean-block clean-info dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="cor">Coisas boas estão acontecendo</h2>
            <p>Um gesto de carinho àqueles que estão na linha de frente todos os dias.</p>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6"><img class="img-thumbnail" src="../../../assets/img/Blank Roast .jfif" /></div>
            <div class="col-md-6">
                <h3>Já parou para pensar? </h3>
                <div class="getting-started-info">
                    <p>Que o café é a 2ª bebida mais consumida do mundo? Ele perde apenas para a água. Falando nele, conta pra mim, qual seu café favorito da Fino&Sabor?</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="clean-block clean-gallery">
    <div class="container">
        <div class="block-heading">
            <h2 class="cor">Galeria</h2>
            <p> </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="../../../assets/img/Baked Cheesecake New-York Style made VEGAN (taste tested).jfif"><img class="img-thumbnail img-fluid image" src="../../../assets/img/Baked Cheesecake New-York Style made VEGAN (taste tested).jfif" /></a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="../../../assets/img/Confira bolos, tortas e docinhos irresistíveis de morango.jfif"><img class="img-thumbnail img-fluid image" src="../../../assets/img/Confira bolos, tortas e docinhos irresistíveis de morango.jfif" /></a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="../../../assets/img/peanut butter cup cheesecake {dairy free}.jfif"><img class="img-thumbnail img-fluid image" src="../../../assets/img/peanut butter cup cheesecake {dairy free}.jfif" /></a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="../../../assets/img/Pão de queijo mineiro_ veja uma receita maravilhosa para hoje!.jfif"><img class="img-thumbnail img-fluid image" src="../../../assets/img/Pão de queijo mineiro_ veja uma receita maravilhosa para hoje!.jfif" /></a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="../../../assets/img/Colombia Travel in 25 Experiences_ What to See, Do and Eat.jfif"><img class="img-thumbnail img-fluid image" src="../../../assets/img/Colombia Travel in 25 Experiences_ What to See, Do and Eat.jfif" /></a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="../../../assets/img/Torta de carne moída com massa de creme de leite.jfif"><img class="img-thumbnail img-fluid image" src="../../../assets/img/Torta de carne moída com massa de creme de leite.jfif" /></a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="../../../assets/img/Cafeterias para degustar um bom café no Brasil.jfif"><img class="img-thumbnail img-fluid image" src="../../../assets/img/Cafeterias para degustar um bom café no Brasil.jfif" /></a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="../../../assets/img/Difference between Latte and Cappuccino, Macchiato, Mocha, Flat White Coffee_s.jfif"><img class="img-thumbnail img-fluid image" src="../../../assets/img/Difference between Latte and Cappuccino, Macchiato, Mocha, Flat White Coffee_s.jfif" /></a>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <a class="lightbox" href="../../../assets/img/morning cup of coffee.jfif"><img class="img-thumbnail img-fluid image" src="../../../assets/img/morning cup of coffee.jfif" /></a>
            </div>
        </div>
    </div>
</section>

<section class="clean-block about-us">
    <div class="container">
        <div class="block-heading">
            <h2 class="cor">Loja física</h2>
            <p>Um espaço de qualidade é capaz de agradar diferentes sentidos para proporcionar sensação de paz e despertar boas lembranças.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="../../../assets/img/6785013fae009ec77fb10245ef58d2a5.jpg" />

                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="../../../assets/img/71af40e49c0934de5e1aa7f166d90473.jpg" />
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="../../../assets/img/aefb6cb36e91878f8556c050c4586d76.jpg" />

                </div>
            </div>
        </div>
    </div>
</section>

<app-rodape class="teste"></app-rodape>
