<ul [ngSwitch]="usuarioLogado()" class="navbar-nav">

    <li *ngSwitchCase="false" class="nav-item">
        <a class="nav-link" routerLink="/login" data-toggle="modal" data-target="#modalLogin">Login</a>
      </li>
      <li *ngSwitchCase="false" class="nav-item">
        <a class="btn btn-outline-primary ml-md-2" routerLink="/registrar">Inscreva-se</a>
      </li>

    <div class="dropdown">
        <a *ngSwitchCase="true" class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-list-ul"></i> {{ nome }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            <li *ngSwitchCase="true" class="nav-item">
                <a class="nav-link text-dark" routerLink="/pedidos/lista" href="#void">
                    Meus Pedidos <span class="fas fa-sign-out-alt"></span></a>
            </li>
            <li *ngSwitchCase="true" class="nav-item">
                <a class="nav-link text-dark" routerLink="/gerenciar/perfil" href="#void">
                    Perfil <span class="fas fa-sign-out-alt"></span></a>
            </li>
            <li *ngSwitchCase="true" class="nav-item">
                <a class="nav-link text-dark" href="#void" (click)="logout()">
                    Sair <span class="fas fa-sign-out-alt"></span></a>
            </li>
          </ul>
       
      </div>


</ul>