<div class="list-group container">
    <a *ngFor= "let pedido of pedidos" [routerLink]="['/pedidos/detalhes', pedido.id]" href="#" style="background-color: #e67e22;
    border-color: #e67e22;" class="list-group-item list-group-item-action active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Data: {{this.ToDateTime(pedido.data_pedido)}}</h5>
        <small></small>
      </div>
      <p class="mb-1">Status: {{pedido.status == 0 ? "Aguardando confirmação" : pedido.status == 1 ? "Processando pedido" : pedido.status == 2 ? "Cancelado" : pedido.status == 3 ? "A caminho" : "Entregue"}}</p>
      <p class="mb-1">Forma de Pagamento: {{pedido.forma_pagamento == 0 ? "Cartão de crédito" : pedido.forma_pagamento == 1 ? "Cartão de débito" : pedido.forma_pagamento == 2 ? "Dinheiro" : "Pix"}}</p>
            <small>Total: {{pedido.total | currency: 'BRL' }}</small>
    </a>   
  </div>
  <p *ngIf="!pedidos?.length">Você não fez nenhum pedido</p>
<br>
<br>