

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Finalizar Pedido</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

<div class="alert alert-danger" *ngIf="errors.length > 0">
    <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
    <ul>
        <li *ngFor="let error of errors">{{ error }}</li>
    </ul>
</div>

            <!--Card content-->
            <app-perfil-editar></app-perfil-editar>


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Seu Carrinho</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            <li *ngFor="let item of carrinho.itens" class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{item.nomeProduto}}</h6>
              </div>
              <span class="text-muted">{{item.valor_unitario*item.quantidade | currency:"BRL":"symbol"}}</span>
            </li>
        
            <li class="list-group-item d-flex justify-content-between">
              <span>Total </span>
              <strong>{{carrinho.total | currency:"BRL":"symbol"}}</strong>
            </li>
          </ul>

          <div class="d-block my-3">
            <span class="text-muted">Escolha a Forma de Pagamento</span>
            <div class="custom-control custom-radio">
              <input [(ngModel)]="forma_pagamento" id="credito" value=0 name="paymentMethod" type="radio" class="custom-control-input" checked required>
              <label class="custom-control-label" for="credit">Cartão de Crédito</label>
            </div>
            <div class="custom-control custom-radio">
              <input [(ngModel)]="forma_pagamento" id="debito" value=1 name="paymentMethod" type="radio" class="custom-control-input" required>
              <label class="custom-control-label" for="debit">Cartão de Débito</label>
            </div>
            <div class="custom-control custom-radio">
              <input [(ngModel)]="forma_pagamento" id="pix" value=3 name="paymentMethod" type="radio" class="custom-control-input" required>
              <label class="custom-control-label" for="paypal">PIX</label>
            </div>
            <div class="custom-control custom-radio">
              <input [(ngModel)]="forma_pagamento" id="dinheiro" value=2  name="paymentMethod" type="radio" class="custom-control-input" required>
              <label class="custom-control-label" for="paypal">Dinheiro</label>
            </div>
            {{forma_pagamento}}
          </div> 


          <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"><button class="btn btn-warning btn-block btn-lg ml-2 pay-button" style="background-color: #e67e22;
            border-color: #e67e22; color:white;" (click)="finalizar()" type="button">Finalizar pedido</button></div>
          <!-- Cart -->

        </div>
        <!--Grid column-->

        
      </div>
      <!--Grid row-->

      
    </div>
  </main>
  <!--Main layout-->
