

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Finalizar Pedido</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">


            <!--Card content-->
            <form class="card-body">

              <!--Grid row-->
          
              <!--Grid row-->


              <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <h4>Perfil</h4>
                </div>

                <div class="card-body">
                    <div class="row">

                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="nome"><strong>Nome</strong></label>
                                <input class="form-control" formControlName="nome" type="text" id="nome" placeholder="Nome">
                            </div>
                        </div>

                        <div class="col">
                            <div class="mb-3">
                                <label class="form-label" for="telefone"><strong>Telefone</strong></label>
                                <input class="form-control" type="telefone" id="telefone" placeholder="(00) 000000-0000" name="telefone" formControlName="telefone">
                            </div>
                        </div>

                    </div>


                </div>
            </div>

              <div class="card shadow mb-3">
                <div class="card-header py-3">
                  <h4>Endereço</h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label class="form-label"><strong>CEP</strong></label>
                        <input class="form-control" id="cep" mask="00000-000" type="text" placeholder="CEP" formControlName="cep"/>
                      </div>
                    </div>
  
                    <div class="col">
                      <div class="mb-3">
                        <label class="form-label"><strong>Complemento</strong></label>
                        <input class="form-control" type="text" placeholder="Opcional" formControlName="complemento">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label class="form-label" for="rua"><strong>Rua</strong></label>
                        <input class="form-control" formControlName="rua" type="text" id="rua" placeholder="Rua">
                      </div>
                    </div>
                    <div class="col">
                      <div class="mb-3">
                        <label class="form-label" for="numero"><strong>Número</strong></label>
                        <input class="form-control" type="number" id="numero" placeholder="123" name="numero" formControlName="numero">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label class="form-label"><strong>Bairro</strong></label>
                        <input class="form-control" type="text" placeholder="Bairro" formControlName="bairro">
                      </div>
                    </div>
                    <div class="col">
                      <div class="mb-3">
                        <label class="form-label"><strong>Cidade</strong></label>
                        <input class="form-control" type="text" placeholder="Cidade" formControlName="cidade">
                      </div>
                    </div>
                  </div>
  
  
  
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label class="form-label"><strong>Estado</strong></label>
                        <select class="form-control" id="estado" formControlName="estado">
                          <option value="">Estado</option>
                          <option value="AC">Acre</option>
                          <option value="AL">Alagoas</option>
                          <option value="AP">Amapá</option>
                          <option value="AM">Amazonas</option>
                          <option value="BA">Bahia</option>
                          <option value="CE">Ceará</option>
                          <option value="DF">Distrito Federal</option>
                          <option value="ES">Espírito Santo</option>
                          <option value="GO">Goiás</option>
                          <option value="MA">Maranhão</option>
                          <option value="MT">Mato Grosso</option>
                          <option value="MS">Mato Grosso do Sul</option>
                          <option value="MG">Minas Gerais</option>
                          <option value="PA">Pará</option>
                          <option value="PB">Paraíba</option>
                          <option value="PR">Paraná</option>
                          <option value="PE">Pernambuco</option>
                          <option value="PI">Piauí</option>
                          <option value="RJ">Rio de Janeiro</option>
                          <option value="RN">Rio Grande do Norte</option>
                          <option value="RS">Rio Grande do Sul</option>
                          <option value="RO">Rondônia</option>
                          <option value="RR">Roraima</option>
                          <option value="SC">Santa Catarina</option>
                          <option value="SP">São Paulo</option>
                          <option value="SE">Sergipe</option>
                          <option value="TO">Tocantins</option>
                        </select>
                        <!-- <span class="text-danger" *ngIf="displayMessage.estado">
                          <p [innerHTML]="displayMessage.estado"></p>
                        </span> -->
                      </div>
                      <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                          <input id="credito" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                          <label class="custom-control-label" for="credit">Cartão de Credito</label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input id="debito" name="paymentMethod" type="radio" class="custom-control-input" required>
                          <label class="custom-control-label" for="debit">Cartão de Debito</label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input id="pix" name="paymentMethod" type="radio" class="custom-control-input" required>
                          <label class="custom-control-label" for="paypal">PIX</label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input id="dinheiro" name="paymentMethod" type="radio" class="custom-control-input" required>
                          <label class="custom-control-label" for="paypal">Dinheiro</label>
                        </div>
                      </div> 
                    </div>
                  </div>
                  <hr class="mb-4">
                  <button style="background-color: #e67e22;
                  border-color: #e67e22;" class="btn btn-primary btn-lg btn-block" type="submit">Continuar Pedido</button>
    
  
                </div>
              </div>
          





             
            
  
         
            </form>


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Seu Carrinho</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Coca-Cola</h6>
                <small class="text-muted">Lata</small>
              </div>
              <span class="text-muted">R$4,50</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Bomba de Chocolate</h6>
                <small class="text-muted">Pote</small>
              </div>
              <span class="text-muted">R$3,99</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Esfirra</h6>
                <small class="text-muted">Salgado</small>
              </div>
              <span class="text-muted">R$4,50</span>
            </li>          
            <li class="list-group-item d-flex justify-content-between">
              <span>Total </span>
              <strong>R$12,99</strong>
            </li>
          </ul>
          <!-- Cart -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
