<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Fino&Sabor</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto text-uppercase">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown04">
                        <li><a *ngFor="let categoria of categorias" class="dropdown-item" [routerLink]="['/produtos/categoria',categoria.slug]">{{categoria.nome}}</a></li>
                    </ul>
                    <li class="nav-item"><a class="nav-link" routerLink="/pedidos/carrinho" routerLinkActive="active" href="#portfolio">Carrinho</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/contato" routerLinkActive="active" href="#contact">Contato</a></li>
                    
            </ul>    
            <form class="d-none d-sm-inline-block ms-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Procurar por ...">
                <button class="btn btn-primary py-0" style="color: #e67e22;
                    background-color: #e67e22; border-color:#e67e22;" type="button"><img src="https://img.icons8.com/material-rounded/24/ffffff/search.png"/></button>
            </div>
            </form>       
            <app-cabecalho-login></app-cabecalho-login>

        </div>
    </div>
</nav>