<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-orange">
  <a class="navbar-brand" href="#void" routerLink=""> Fino&Sabor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">


    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink=""><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <div class="dropdown">
        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-list-ul"></i> Categorias
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor= "let categoria of categorias">
              <a class="dropdown-item" href="#void" [routerLink]="['/produtos/categoria',categoria.slug]">{{categoria.nome}}</a>
            </li>
          </ul>
       
      </div>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/contato"><i class="far fa-address-book"></i> Contato </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="get">
      <input class="form-control mr-sm-2" type="search" name="pesquisa" value="" placeholder="palavra" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisa</button>
      
      <a class="nav-link" href="#void" routerLink="/pedidos/carrinho"><i class="fas fa-shopping-cart"></i> Carrinho</a>
      
      <app-cabecalho-login></app-cabecalho-login>
      

    </form>
  </div>
</nav>
